# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/oss-larare-emellan-v3/v17/.wsuo
.vs/oss-larare-emellan-v3/FileContentIndex/43bd3db4-0846-48fb-b131-293886c021f2.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/2936a32d-71f4-4d43-93a1-33ef30306c6b.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/724be81c-3b52-4f14-9814-6d23da607c48.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/b96d29b9-47c7-4c78-a08a-08ce3060f755.vsidx
.vs/VSWorkspaceState.json
.vs/oss-larare-emellan-v3/v17/DocumentLayout.json
.vs/oss-larare-emellan-v3/FileContentIndex/7991f6dc-4ef5-41b9-8245-51399faa4d3a.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/fe16f608-08bc-470d-bb63-ecde11b214e5.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/ea29dd1e-bffe-4e95-a38a-7695820d807b.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/d7facaa5-aa87-4a28-aee8-2346cbcbd096.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/d0367b30-2ff9-46ca-844b-4b778a0c249f.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/0621c1a3-d176-471e-8cc5-3f2d36043e7a.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/904a699a-0f41-4dcc-aeda-19fd1ced6922.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/af3d8890-bd6c-4470-ad48-a5d636fe2ca2.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/6a85fae8-4a5b-40c5-acac-002804963c04.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/1c4cb719-09cf-4c8a-9766-7c37ee676cec.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/e3d0ae8b-bcdf-4125-b431-159572ce0827.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/756e1b19-620c-423e-b634-4b6a2aa26664.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/4bb75347-c559-4994-b2ea-760bdfd00f29.vsidx
