# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/oss-larare-emellan-v3/v17/.wsuo
.vs/oss-larare-emellan-v3/FileContentIndex/43bd3db4-0846-48fb-b131-293886c021f2.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/2936a32d-71f4-4d43-93a1-33ef30306c6b.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/724be81c-3b52-4f14-9814-6d23da607c48.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/b96d29b9-47c7-4c78-a08a-08ce3060f755.vsidx
.vs/VSWorkspaceState.json
.vs/oss-larare-emellan-v3/v17/DocumentLayout.json
.vs/oss-larare-emellan-v3/FileContentIndex/7991f6dc-4ef5-41b9-8245-51399faa4d3a.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/fe16f608-08bc-470d-bb63-ecde11b214e5.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/ea29dd1e-bffe-4e95-a38a-7695820d807b.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/d7facaa5-aa87-4a28-aee8-2346cbcbd096.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/d0367b30-2ff9-46ca-844b-4b778a0c249f.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/0621c1a3-d176-471e-8cc5-3f2d36043e7a.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/904a699a-0f41-4dcc-aeda-19fd1ced6922.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/af3d8890-bd6c-4470-ad48-a5d636fe2ca2.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/6a85fae8-4a5b-40c5-acac-002804963c04.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/1c4cb719-09cf-4c8a-9766-7c37ee676cec.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/e3d0ae8b-bcdf-4125-b431-159572ce0827.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/756e1b19-620c-423e-b634-4b6a2aa26664.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/4bb75347-c559-4994-b2ea-760bdfd00f29.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/9dea90d8-1390-4062-9aa7-ffd987e35709.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/55d39ec9-724f-42c9-a306-e09ff745945d.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/9f32d534-64f1-40c4-b8f6-ccbf03588ff8.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/740c1927-0b64-4548-8d14-7ffdc8b6c05b.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/ae5c5fee-3a50-441f-9323-fc76be1574f3.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/54ad74c0-3bb0-4bcf-bbc1-66afc9394f8b.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/b1d81a69-5178-4a38-b3e4-0def4b21fab3.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/3c1dec5f-cde3-48d7-a18f-f3e011781de1.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/266fcee6-2f91-4487-a570-efb89305324f.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/2a5abc5e-923b-4bf3-bb9e-96d686702baf.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/f11cb8ed-debd-4e19-9ff5-cc7330457c59.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/f88e70db-7ab2-4377-bd4d-6746ff53a077.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/2c5c51bb-8ee6-40cb-bf20-163fc56df0c9.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/c8c77c17-a84b-4acd-8052-e1a8421a4c84.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/dc9cf4bb-79f8-4864-8f1c-12d13e9b777c.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/199b668e-8859-42f3-a26d-cb8ee79ef007.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/209b03d8-898d-4610-8e13-5ab1a2fc986a.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/7f95c524-32e2-42cf-89e6-de5406395ae8.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/2d40dbe7-4284-4bb3-b85b-df656cee99c5.vsidx
.vs/oss-larare-emellan-v3/FileContentIndex/14d2c035-c520-4567-a0d6-e8b209c8a742.vsidx
